fastapi==0.95.2
starlette==0.27.0
uvicorn
pandas
numpy
python-dotenv
python-multipart
jinja2
requests
fastapi-mail==1.3.1
email-validator==1.3.1
google-generativeai==0.8.5
pydantic==1.10.14
sendgrid==6.12.5
